<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--属性-->
    <properties resource="config/database.properties">
        <!--<property name="username" value="${username}"/>-->
        <!--<property name="password" value="${password}"/>-->
    </properties>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!--起别名-->
    <typeAliases>
        <typeAlias alias="MemoGroup" type="club.logicr.mybatis.entity.MemoGroup"/>
    </typeAliases>

    <!--环境配置-->
    <environments default="mydev">
        <environment id="mydev">
            <transactionManager type="JDBC">
                <!--...什么意思-->
                <property name="..." value="..."/>
            </transactionManager>
            <dataSource type="POOLED">
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/memo"/>-->
                <property name="driver" value="${dri}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>


            </dataSource>

            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver"/>-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/memo"/>-->
                <!--<property name="username" value="root"/>-->
                <!--<property name="password" value="147258"/>-->
            <!--</dataSource>-->
        </environment>
    </environments>

    <mappers>
        <!--mapper路径不能用点-->
        <mapper resource="mapper/MemoGroupMapper.xml"/>
    </mappers>
</configuration>